@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* font-family: 'Passion One', cursive; */
/* font-family: 'Sriracha', cursive; */

*{
    margin: 0;
}

header{
    background-color: black;
    text-align: center;
    padding: 50px;
}

header > h1{
    font-family: 'Passion One', cursive;
    font-weight: 700;
    color: white;
    font-size: 7vw;
    text-transform: uppercase;
}

header > h1 > span{
    font-size: 10vw;
}

header > p > span{
    font-weight: normal;
}

header > p{
    color: white;
    font: bold 1em Verdana;
    
}

section{
    padding: 70px 30px;
}

main > section > p{
    font: normal 3.5vw 'Sriracha', cursive;;
    margin-bottom: 20px;
    line-height: 7vw;
}

main > section#p2{
    background-image: url("../imagens/background001.jpg");
    background-size: cover; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right center;
}

p#pp2{
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    width: 41vw;
    padding: 3px;
}

main > section#p5{
    background-image: url("../imagens/background002.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: left center;
}